@import "settings";
@import "vendors";

.v--modal-overlay {
    z-index: 99999 !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-left-enter-active, .slide-left-leave-active {
    right: 0;
    transition: right .2s;
}

.slide-left-enter, .slide-left-leave-to /* .fade-leave-active below version 2.1.8 */ {
    right: -300px;
}

.btn {
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none!important;
    color: #fff;
    background-color: #fff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    position: relative;
    transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear 0s!important;
    padding: 6px 17px;
}

.btn-primary {
    background-color: var(--base-color);
    border-color: var(--base-color);
}

.text-primary {
    color: var(--base-color) !important;
}

.btn-primary.active,
.btn-primary.active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-primary
.btn-primary.hover,
.btn-primary:hover {
    background-color: var(--base-color);
    border-color: var(--base-color);
}

.bg-primary {
    background-color: var(--base-color) !important;
}

.full-height {
    height: 100%;

    .page-container {
        padding-left: 0;

        .content.sm-gutter {
            height: 100%;
            padding-top: 0;
            position: absolute;
            width: 100%;

            .login-wrapper   {
                width: initial;
                padding: 0;
                background-color: var(--base-color);
            }
        }
    }
}

[data-toggle-pin=sidebar]>i:before {
    content: "\f111";
}

.page-sidebar .sidebar-header .sidebar-header-controls {
    transform: translate3d(-18px,0,0);
}

body.sidebar-visible .page-sidebar .sidebar-header .sidebar-header-controls {
    transform: translate3d(38px,0,0);
}

.wizard-component ul li {
    padding-left: 0 !important;
}

.table.table-condensed tbody tr td :not(.dropdown-default) {
    overflow: visible;
}

.nav-tabs>li>a {
    font-family: inherit;
    font-size: 12px;
}

.table-actions {
    text-align: right;
}

.deactivated {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 980px) {
    body.menu-pin .page-sidebar {
        width: 280px;
    }
}
