// Colors
// $primary-color: rgba(26, 197, 165, 1);
// $secondary-color: rgba(91, 19, 254, 1);
// $coins-color: rgba(245, 158, 30, 1);
// $error-color: rgba(208, 2, 27, 1);
// $grayout-color: rgba(172, 172, 172, 1);

// Responsive Breakpoints
$sm: 576px;
$md: 767px;
$lg: 991px;
$xl: 1200px;
$sm-tablet-v: 768px;

// $darkenBaseColor: color-mod(var(--base-color) tint(59%));
