{
    "plugins": [
        "@babel/syntax-dynamic-import",
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
    ]
}
