.create-resource {
    .resource-form {
        padding: 25px;

        .row [class*=col] {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        .title {
            font-size: 22px;
            margin-top: 0;
            border-bottom: 1px solid  var(--base-color);
            margin-bottom: 20px;
            padding-bottom: 10px;
            color:  var(--base-color);
            font-weight: normal;
        }

        label {
            text-transform: capitalize;
            font-size: 13px;
        }

        .cover-upload {
            position: relative;
            width: 133px;
            margin-bottom: 25px;

            input {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                width: 100%;
            }
        }

        .add-author {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--base-color);
            min-height: 50px;
            height: calc(100% - 25px);
            cursor: pointer;
            margin-bottom: 25px;
            font-size: 16px;
            color: var(--base-color);

            i {
                font-size: 20px;
                margin-left: 5px;
            }
        }

        .form-group, .form-group-multiselect {
            margin-bottom: 25px;
        }

        .form-group-multiselect {
            .remove-author {
                position: absolute;
                cursor: pointer;
                right: 10px;
                top: 3px;
                opacity: .5;
                color: red;
            }
        }

        .form-group-time {
            margin-bottom: 25px;

            label {
                margin-bottom: 0;
            }

            .time-picker {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }

        .theme {
            border: 1px dashed rgba(0,0,0,.07);
            padding: 20px;

            h3 {
                font-size: 20px;
                font-weight: normal;
                opacity: .7;
                margin-top: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                i {
                    cursor: pointer;
                    opacity: .5;
                    color: red;
                }
            }

            .quill-editor {
                background-color: white;
            }

            &:nth-child(odd) {
                background-color: rgba(185, 185, 185, 0.07);
            }
        }
    }
}
